---
// src/components/AnimatedBackground.astro
// Этот компонент просто отрисовывает 10 квадратов для анимации.
// Вся магия (стили и анимация) будет в global.css
---
<div class="animated-bg">
  <div class="squares">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div> </div>
</div>